# Dependencies
node_modules/
.venv/

# Environment
.env

# OS Files
.DS_Store
.idea/

# Build outputs
dist/
frontend/.next/
frontend/node_modules/
backend/munira_app
backend/munira-api
backend/app.log

# Database files
server/db/*.db-shm
server/db/*.db-wal
server/db/munira.db

# Packages
munira-fe-deploy.zip

# Ignore files
.aiderignore
.clineignore
.cursorignore
.geminiignore
